@{
    ViewData["Title"] = "Home Page";
    ViewBag.DateTime = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Welcome to our  class</h1>
    <p>@ViewBag.Titlez  @ViewBag.DateTime</p>
</div>


